@model List<Graduation_Project.Models.SupplierMedication>

@{
    ViewData["Title"] = "Supplier Medicines";
}

<h2>@ViewData["Title"]</h2>
<a class="btn btn-secondary" asp-action="Create" asp-controller="Supplier">
    Add new Medicine
</a>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Medicine Name</th>
                <th>Price</th>
                <th>Stock Quantity</th>
                <th>Expiry Date</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>  <!-- Assuming you have a 'Name' property in your Medicine model -->
                    <td>@item.Price</td>
                    <td>@item.StockQuantity</td>
                    <td>@item.ExpiryDate.ToShortDateString()</td>
                   
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No medicines available for this supplier.</p>
}
